/* Dark SmartHome skin with left menu
-------------------------------------------------- */

/* Gird
-------------------------------------------------- */

#header{
  position: static;
  width: 20%;
  float: left;
  #main_navigation_wrap{
    background-color:  transparent;
    border-bottom: 0;
    height: auto;
  }
  #main_navigation{
    //position: static;
    position: relative;
    .main-nav-text{
      display: inline-block;
    }
    /*.timestamp{
      display: block;
      top: 0;
      left: 100%;
      position: absolute;
    }*/
    #navigation_left{
      position: static;

    }
    a{
      display: block;
    }
    #navigation_right {
      display: none;
    }
  }
  #sub_navigation{
    display: block !important;
   /* &.ng-hide{
      display: block !important;
    }*/
    position: static;

  }
}
#main_content{
  margin-top: $spacing;
  width: 80%;
  float: left;
}
.container{
  max-width: 100%
  //width: 100%;
}