/* Videos
-------------------------------------------------- */


/* Cards
-------------------------------------------------- */

.card-video {
  width: 387px;
  @include mediaQueries(min-small) {
    @include appFloat(left);
  }

  /* Inner element */
  .card-video-in {
    color: lighten($app-body-color, 30%);
    position: relative;
    border: solid 1px #ccc;
    background-color: #fff;
    height: 250px;
    padding: 0;
    margin: 0 0 $spacing-double 0;
    // Media queries
    @include mediaQueries(min-small) {
      margin: $spacing;
    }
    .video-screen{
      width: 365px;
      height: 210px;
    }
    .card-header{
      display: table;
      width: 100%;
      color: #000;
      background-color: #fff;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 $spacing;
      //text-align: right;
      height: 40px;
      line-height: 40px;
      .card-header-cell{
        display: table-cell;
        &.cell-ctrl{
          text-align: right;
          a{
            color: lighten($app-body-color, 30%);
            padding: 0 0 0 $spacing;
          }
        }
      }
    }
    .card-footer{
      padding: 0 $spacing;
      //text-align: right;
      height: 40px;
      line-height: 30px;
    }

  }

}


/* Modal with video
-------------------------------------------------- */
.appmodal-video{
  &.appmodal {
    // Animation
    &.ng-animate {
      transition: none;
    }
    .appmodal-in {
      //width: 100%;
      margin: $spacing-double auto;
      @include mediaQueries(min-small) {
        width: 99%;
      }

      .appmodal-body {
        height: auto;
        max-height: 800px;
        overflow-x: hidden;
        .video-wrapper {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          padding-top: 25px;
          height: 0;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //max-height: 600px;
          }
        }
      }
      .appmodal-footer{
        text-align: center;
      }
    }
  }
}
